{% extends "base1.html" %}

{% block content %}
    <h1>List of your addresses:</h1>
    <a href="{% url "address:address_create" %}" class="badge badge-pill badge-secondary position-fixed ">Add new
        address</a>
    <div class="jumbotron">
        {% for address in object_list %}
            <ul class="list-group">
                <li class="list-group-item active">{{ address.name }}</li>
                <li class="list-group-item">{{ address.address1 }}</li>
                <li class="list-group-item">{{ address.address2 }}</li>
                <li class="list-group-item">{{ address.city }}</li>
                <li class="list-group-item">{{ address.get_country_display }}</li>
            </ul>
            <br>
            <hr>

            <a class="btn btn-info" href="{% url "address:address_update" address.id %}" role="button">Update
                address</a>
            <a class="btn btn-danger" href="{% url "address:address_delete" address.id %}" role="button">Delete</a>

            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% endfor %}
        <hr>
        <div>
            <a class="btn btn-secondary btn-block" href="{% url "address:address_create" %}" role="button">Add new
                address</a>
        </div>
    </div>

{% endblock content %}