{% extends "base1.html" %}
{% block content %}
      <h2>About us</h2>

    <div class="col-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.cl
        Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.
        Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.
        Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.
    </div>
{% endblock content %}